{% extends "layout.njk" %}

{% block main %}
<p>In the interest of financial transparency, we list all costs of running the instance here for you to see and consider.</p>

<h3>Donations</h3>

<p>We gratefully accept <a href="https://liberapay.com/Polymaths.social/donate">donations through Liberapay</a> to help us keep everything running and support our work. If you feel led to give, it would really help us!</p>
<a href="https://liberapay.com/Polymaths.social"><img src="https://img.shields.io/liberapay/receives/Polymaths.social.svg?logo=liberapay" alt="Badge showing amount I earn per week"><br><img src="https://img.shields.io/liberapay/goal/Polymaths.social.svg?logo=liberapay" alt="Badge showing how close I am to reaching my funding goal"></a>
<!--<script src="https://liberapay.com/Polymaths.social/widgets/receiving.js"></script>-->
<p><strong>Donations in Q{{thisQuarter}} {{thisYear}}:</strong> ${{ totalIncomeThisQuarter.toFixed(2) }}<br> <strong>Total donations:</strong> ${{ totalIncome.toFixed(2) }}</strong></p>
<p><i>Pulled from <a href="https://benjaminhollon.com">Benjamin Hollon</a>'s <a href="https://www.firefly-iii.org/">Firefly III</a> instance on {{transactionsLastCalculated.toISOString().split('T')[0]}}.</i></p>
<p>Bear in mind that donations are often made for, say, an entire year's worth at a time, to help save on transaction fees, so if the total donation sum is more than the total spending (see below), that does not necessarily indicate a surplus. Similarly, lower donations this quarter do not necessarily mean expenses are not covered by previous quarters' donations.</p>

<h3>Purchases in Q{{ thisQuarter }} {{ thisYear }} (so far)</h3>
<table>
	<tr><th>Item</th><th>Cost</th><th>Paid On</th></tr>
	{% for purchase in spendingThisQuarter.reverse() %}
	<tr><td>{{ purchase.description }}</td><td>{{ purchase.currency_symbol }}{{ purchase.amount.toFixed(purchase.currency_decimal_places) }}</td><td>{{ purchase.date.toISOString().split('T')[0] }}</td></tr>
	{% endfor %}
	<tr><th>Total in Q{{ thisQuarter }} {{ thisYear }}</th><td colspan="2" align="center">${{ totalSpendingThisQuarter.toFixed(2) }}</td></tr>
	<tr><th>All-Time Total</th><td colspan="2" align="center">${{ totalSpending.toFixed(2) }}</td></tr>
</table>
<p><i>Pulled from <a href="https://benjaminhollon.com">Benjamin Hollon</a>'s <a href="https://www.firefly-iii.org/">Firefly III</a> instance on {{transactionsLastCalculated.toISOString().split('T')[0]}}.</i></p>

<details>
	<summary>All past expenses</summary>
	<h3>All Purchases</h3>
	<table>
		<tr><th>Item</th><th>Cost</th><th>Paid On</th></tr>
		{% for purchase in spending.reverse() %}
		<tr><td>{{ purchase.description }}</td><td>{{ purchase.currency_symbol }}{{ purchase.amount.toFixed(purchase.currency_decimal_places) }}</td><td>{{ purchase.date.toISOString().split('T')[0] }}</td></tr>
		{% endfor %}
		<tr><th>Total</th><td colspan="2" align="center">${{ totalSpending.toFixed(2) }}</td></tr>
	</table>
	<p><i>Pulled from <a href="https://benjaminhollon.com">Benjamin Hollon</a>'s <a href="https://www.firefly-iii.org/">Firefly III</a> instance on {{transactionsLastCalculated.toISOString().split('T')[0]}}.</i></p>
</details>

{% endblock main %}
