{% extends "layout.njk" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/assets/css/homepage.css">
{% endblock head %}

{% block header %}
<div id="illustration">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
{{ super() }}
{% endblock header %}


{% block main %}
<section class="--center">
	<h3>Your Host</h3>
	<a class="bubble person" target="_blank" href="https://benjaminhollon.com">
		<img alt="Picture of Amin Hollon" src="/assets/images/avatars/benjamin.jpg">
		<span>Amin Hollon</span>
	</a>
	<br>
</section>
{{ content | safe }}
{% endblock main %}
