<!DOCTYPE html>
<html data-theme="spaceduck" data-font-family="sans-serif" lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/readable.min.css?v=1.1.1-alpha">
		<link rel="stylesheet" type="text/css" href="/assets/css/themes.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/global.css">
		<script src="/assets/js/themeSelector.js"></script>
		<link rel="alternate" type="application/rss+xml" title="Atom Feed" href="https://polymaths.social/news/feed/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<meta property="og:title" content="{{title }}">
		<meta property="og:type" content="website">
		{% if description %}
		<meta name="description" content="{{description}}">
		<meta property="og:description" content="{{description}}">
		{% endif %}
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.svg">
		<link rel="me" href="https://lowkey.zone/@benjaminhollon">
		<link rel="me" href="https://alpha.polymaths.social/@amin">
		<link rel="me" href="https://alpha.polymaths.social/@polymaths">
		{% endblock head %}
	</head>
	<body onload="updateThemeSelector()">
		<header>
			{% block header %}
			<h1>{% block title %}{{ title or (url | id) }}{% endblock title %}</h1>
			{% block subtitle %}<p>{% if subtitle %}{{ subtitle }}{% endif %}</p>{% endblock subtitle %}
			{% endblock header %}
		</header>
		{% block nav %}
		<nav data-style="roundesque">
			<a href="/">Home</a>
			<a href="/news/">News</a>
			<a href="/financial-transparency/">Financial Transparency</a>
			<a href="https://waitlist.polymaths.social">Waitlist</a>
		</nav>
		{% endblock nav %}
		<main>
			{% block main %}
			{{ content | safe}}
			{% endblock main %}
		</main>
		<footer>
			{% block footer %}
			<p><em>Launching Summer 2024</em></p>
			<a target="_blank" href="https://liberapay.com/Polymaths.social"><img alt="Donate using Liberapay" src="/assets/images/donate.svg"></a>
			{% endblock footer %}
		</footer>
		<ol id="themeSelector" reversed></ol>
	</body>
</html>
