{% extends "layout.njk" %}

{% block main %}
	{% for article in search.pages("news=true", "date=desc") %}
		<article class="listing">
			<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
			<p class="subtitle --center">by {{ search.pages("author=true username=" + article.author)[0].name }} on {{article.date | date}}</p>
			{{ article.description | md | safe }}
			<p class="--center"><em>a {{article.content | timeToRead}} minute read</em></p>
			<p class="options"><a href="{{article.url}}">Read Full Article</a></p>
		</article>
	{% endfor %}
	<p>You've reached the oldest article. Have any questions? You can email us at hello[at]polymaths.social.</p>
{% endblock main %}
