.options, .--center {
	text-align: center;
}
.--left { text-align: left }

.options a {
	margin: 0 calc(0.5 * var(--one-line));
}

/* Themes */
a {
	color: var(--text-highlight-1);
}

a:visited {
	color: var(--text-highlight-2);
}

kbd, code {
	background-color: var(--background-color-1);
}

:is(body, header) > nav:first-of-type a {
	color: var(--text-highlight-0);
	--color: var(--text-highlight-0);
}

button {
	color: var(--text-highlight-1);
	background-color: var(--background-color-1);
}

nav a[rel="prev"] {
	float: left;
}

nav a[rel="next"] {
	float: right;
}

.listing {
	border-bottom: var(--line-width) solid;
}

.avatar {
	height: calc(var(--one-line) * 3);
	border-radius: calc(var(--one-line) / 2);
	float: left;
	margin-right: var(--one-line);
	margin-bottom: var(--one-line);
}

/* Site Quirks */

.bubble, details {
	background-color: var(--background-color-1);
	border-radius: var(--one-line);
}

details:not(#themeSelector details) {
	padding: 0 calc(0.5 * var(--one-line));
	contain: content;
}

details:not(#themeSelector details) summary {
	margin: calc(0.5 * var(--one-line)) 0;
}

.person {
	display: inline-block;
	contain: content;
	margin: calc(0.5 * var(--one-line));
	text-decoration: none;
}

.person img {
	height: calc(2 * var(--one-line));
	float: left;
}

.person span {
	line-height: calc(2 * var(--one-line));
	padding: 0 calc(0.5 * var(--one-line));
	color: var(--text-highlight-1);
}

/* Theme Selector */
#themeSelector {
	list-style: none;
	padding: calc(0.5 * var(--one-line));
	margin: 0;
	background-color: var(--background-color-1);
	display: inline-block;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	max-height: calc(100% - 4rem);
	overflow: auto;
}

#themeSelector a.current, #currentTheme {
	color: var(--text-highlight-0);
	text-decoration: none;
}

#themeSelector > details > summary {
	list-style: none;
}

#themeSelector details > li {
	margin-left: var(--one-line);
}

#themeSelector details {
	margin: 0
}

@media (max-width: 90ch) {
	body { padding-bottom: calc(2 * var(--one-line)) }
	#themeSelector {
		display: fixed;
		bottom: 0;
		width: 100%;
		left: 0;
	}
}
