#illustration {
	background-color: var(--background-color-1);
	display: inline-block;
	--size: min(50vmin, 15ch);
	width: var(--size);
	height: var(--size);
	max-width: var(--size);
	max-height: var(--size);
	contain: content;
	transform: rotate(30deg);
	animation: spin 30s linear infinite;
	
	border-radius: 100%;
}

#illustration span {
	display: inline-block;
	width: calc(0.25 * var(--size));
	height: calc(0.25 * var(--size));
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 50% -75%;
}

#illustration span:nth-child(1) {
	background-color: var(--text-highlight-0);
	transform: translate(-50%, 75%) rotate(0deg);
}

#illustration span:nth-child(2) {
	background-color: var(--text-highlight-1);
	transform: translate(-50%, 75%) rotate(60deg);
}

#illustration span:nth-child(3) {
	background-color: var(--text-highlight-2);
	transform: translate(-50%, 75%) rotate(120deg);
}

#illustration span:nth-child(4) {
	background-color: var(--text-highlight-3);
	transform: translate(-50%, 75%) rotate(180deg);
}

#illustration span:nth-child(5) {
	background-color: var(--text-highlight-4);
	transform: translate(-50%, 75%) rotate(240deg);
}

#illustration span:nth-child(6) {
	background-color: var(--text-highlight-5);
	transform: translate(-50%, 75%) rotate(300deg);
}

@keyframes spin {
	from { transform: rotate(30deg); }
	to { transform: rotate(390deg); }
}
